%h2 {{section.title}}´s projects

%ul.thumbnails
  {{#each projects}}
  %li.span3
    .thumbnail
      %a{ :href=> "{{ProjectUrl this}}" }
        %img{ :alt => "{{title}}", :src => "{{ProjectImg 'url'}}" }
      .caption
        %h5
          %a.pjax{:href => "{{ProjectUrl this}}"} {{ title }}

  {{/each}}