%h2 {{section.title}}´s projects

%ul.thumbnails
  {{#projects}}
  %li.span3
    .thumbnail
      %a{ :href=>"{{project_path}}" }
        %img{:alt => "{{title}}", :src => "{{project_photo}}"}/
      .caption
        %h5
          %a.pjax{:href => "{{project_path}}"} {{title}}
        %p
  {{/projects}}