# Don't edit this file unless you know you are doing
#= require "underscore-min"
#= require "mustache"

$(document).ready ->
  template = undefined
  html = undefined
  window.base_image_path = "http://pullentity.com"
  window.theme = ""
  window.mustache_themes = ""
  window.data = {}
  window.data =
    site_link: "/"
    public_url: "http://artenlinea.com"
    project: {}
    photos: []
    url: ->
      (text, render) ->
        text = render(text)
        url = text.trim().toLowerCase().split("tuts+")[0] + ".tutsplus.com"
        "<a href=\"" + url + "\">" + text + "</a>"

  $.getJSON "/assets/javascripts/pullentity_data.json", (json_data) ->

    items = []
    #debugger
    window.data["site"] =
      name: json_data.name
      subdomain: json_data.subdomain

    window.data["sections"] = []

    $.each json_data.sections, (key, val) ->
      window.data["sections"].push val

    window.data["projects"] = []
    $.each json_data.projects, (key, val) ->
      window.data["projects"].push  val

    window.init_themes()

  # layout initialization
  window.init_themes = ()->

    template = $("#layout").html()
    window.mustache_themes = $(".pullentity-themes")
    #debugger
    window.data["project"] = window.data.projects[0]

    fill_projects(window.data["project"].photos)
    $.each window.data["project"].photos, (key, val) ->
      window.data["photos"].push
         img_medium: remote_path(val.image.image.medium.url)
         img_large: remote_path(val.image.image.large.url)
         img_thumb: remote_path(val.image.image.thumb.url)
         title: val.title
         caption: val.caption

    layout = Mustache.to_html(template, data)

    $("body").html layout

    $(window).on "hashchange", (e) ->
      window.theme = ""
      window.data["project"] = {}
      # find section by window.location, then find project and theme
      $.each window.data.sections, ()->
        if this.public_url == window.location.hash
          # find project
          _tis = this
          _tis.finds = false

          $.each window.data.projects, ()->

            if this.section.public_url == _tis.public_url
              _tis.finds = true
              window.data["project"] = this
              console.log window.data["project"]
              if _tis.list_or_project == "project"

                console.log("trying theme #{window.data["project"].theme_template.name}")
                #debugger
                window.theme = $($(_.find($(window.mustache_themes), (num) ->
                  $(num).attr("id") == "home"
                )).html())

                console.warn("please create file in views/themes/#{this.theme_template.name}.haml")
                view = Mustache.to_html($(window.theme[0]).html(), window.data)
                console.log(view)
                $("#content").html view

              else
                window.theme = $("#yield-scripts #list").html()
              false


      console.warn "we couldn´t find project with section" unless window.data["project"]?
      fill_projects(window.data["project"].photos)


  window.remote_path = (path)->
    "http://pullentity.com/#{path}"

  window.fill_projects = (collection)->
    window.data["photos"] = []
    $.each collection, (key, val) ->
      window.data["photos"].push
       img_medium: remote_path( val.image.image.medium.url)
       img_large: remote_path(val.image.image.large.url)
       img_thumb: remote_path(val.image.image.thumb.url)
       title: val.title
       caption: val.caption

