%h2 {{project.title}}

.myCarousel.carousel.slide
  .carousel-inner
    {{#photos}}

    .item
      %img{:alt => "", :src => "{{img_large}}"}/
      .carousel-caption
        %h4 {{title}}
        %p {{caption}}

    {{/photos}}

  %a.left.carousel-control{"data-slide" => "prev", :href => ".myCarousel"} ‹

  %a.right.carousel-control{"data-slide" => "next", :href => ".myCarousel"} ›



%p {{{project.body}}}

{{{fb_comments}}}