
.col-12
  %h2 {{section.title}}

.thumbnails
  {{#each projects}}
  .col-12
    .thumbnail
      %a{ :href=> "{{ProjectUrl this}}" }
        %img.img-responsive{ :alt => "{{title}}", :src => "{{ProjectImg 'xlarge'}}" }
      .caption
        %h4
          %a.pjax{:href => "{{ProjectUrl this}}"} {{ title }}

  {{/each}}