*.gem
*.rbc
.bundle
.config
.yardoc
.rvmrc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.rvmrc
.dropbox
*.sw?
coverage*
doc
rdoc
pkg
tmp
tags
rerun.txt
Gemfile.lock
.bundle
*.gem
dailyfocus
.lock

pkg
