%script{ type: "template/text", id: "layout"}

  .container-fluid
    .page-header
      %h1
        %a.pjax{:href => "{{site_link}}"} Welcome to {{site.name}} site
    .row-fluid
      %ul#menu
        {{#sections}}
        {{#show_in_menu}}
        %li
          %a.pjax{:href => "{{public_url}}"} {{title}}
        {{/show_in_menu}}
        {{/sections}}
    #content.row-fluid{"data-pjax-container" => ""}
      / Don't remove this line
      {{{content}}}

    {{{loader}}}

  {{{facebook_comments}}}