%script{ type: "template/text", id: "layout"}

  #sidebar
    %h2
      %a.pjax{:href => "{{site_link}}"}{{site.name}}

    %ul#menu
      {{#sections}}
      {{#show_in_menu}}
      %li
        %a.pjax{:href => "{{public_url}}"} {{title}}
      {{/show_in_menu}}
      {{/sections}}

  #content.row-fluid{"data-pjax-container" => ""}
    / Don't remove this line
    {{{content}}}

    {{{loader}}}

  {{{facebook_comments}}}