:css
  @import url(http://fonts.googleapis.com/css?family=Oxygen|Oleo+Script&subset=latin,latin-ext);

  h1{
    font-family: "Oxygen", Helvetica, Arial;
  }
  .page-header h1 {
      font-size: 5em;
      font-weight: lighter;
      line-height: 1;
      font-family: "Oleo Script", Helvetica, Arial;
  }
  h2{
    font-family: "Oxygen", Helvetica, Arial;
      font-weight: lighter;
  }
  #loader{
      position: fixed;
      right: 28px;
      top: 33px;
      display:none;
  }
  #menu{
    float: left;
      list-style: none outside none;
      margin: 0 0 7px;
  }
  #menu li{
    float:left;
      margin:5px;
  }

  #menu li a{
    color: #888888;
    font-size: 16px;

    font-family: "Oxygen", Helvetica, Arial;
    font-weight: lighter;
  }

  /*GALLERY*/

  .nav { margin: 5px 0 }
  #nav a, #s7 strong { margin: 0 5px; padding: 3px 5px; border: 1px solid #ccc; background: #fc0; text-decoration: none }
  #nav a.activeSlide { background: #ea0 }
  #nav a:focus { outline: none; }
  #output { text-align: left; }
  #nav { text-align: left; margin: 3px }
