%title Pullentity Site
%meta{:content => "", :name => "description"}
%meta{:content => "t", :name => "keywords"}
%meta{:content => "INDEX,FOLLOW", :name => "ROBOTS"}

%link{:href => "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", :rel => "stylesheet"}
%script{:src => "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"}
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
%script{:src => "https://raw.github.com/desandro/masonry/master/jquery.masonry.min.js"}
%script{:src => "http://malsup.github.com/jquery.cycle.all.js"}
%script{:src => "https://raw.github.com/defunkt/jquery-pjax/master/jquery.pjax.js"}
%script{:src => "https://raw.github.com/brandonaaron/livequery/master/jquery.livequery.js"}

= javascript_include_tag "application"
= stylesheet_link_tag "application"

= test_data_include_tag

= yield_content(:application_js)

